@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav > span.material-symbols-outlined {
        display: none;
    }

    nav > ul#menu {
        display: flex;
        flex-direction: row;
    }

    article#imagem-topo {
        background-image: url(../imagens/Fundo-topo-G.jpg);
        height: 400px;
    }

    nav > ul > li {
        padding: 10px;
    }

}

@media screen and (min-width: 992px) { /* Desktop */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav > span.material-symbols-outlined {
        display: none;
    }

    nav > ul#menu {
        display: flex;
        flex-direction: row;
    }

    article#imagem-topo {
        background-image: url(../imagens/Fundo-topo-G.jpg);
        height: 400px;
    }

    nav > ul > li {
        padding: 10px;
    }
}

