@charset "UTF-8";

@font-face {
    font-family: "PoppinsT";
    src: url(../fontes/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fontes/Poppins-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #711fce, #9a46fa);
}

header > h1 {
    font-size: 2.2em;
    padding: 15px;
    font-family: "PoppinsT";
    font-style: italic;
}

header > h1 > a {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
    color: #ffae00;
    text-decoration: none;
}

header > nav > ul {
    padding: 15px;
    list-style-type: none;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav > span {
    color: #ffae00;
    padding: 10px 15px;
}

nav > span:hover {
    cursor: pointer;
}

nav > ul > li {
    padding: 5px;
    text-align: start;
}

nav > ul > li:hover {
    text-decoration: underline;
    color: #ffae00;
}

ul#menu {
    display: none;
}

header > nav > ul > li > a {
    font-family: "Poppins";
    color: #ffae00;
    text-decoration: none;
}