@charset "UTF-8";

/* Atribuições
Imagem topo: Image by <a href="https://www.freepik.com/free-vector/flat-abstract-wireframe-background_15517732.htm#page=2&query=cyber%20shapes&position=29&from_view=search&track=ais&uuid=2d12ff30-f095-461d-bb22-df4d9e2e5545">Freepik</a> 

Imagem Background: Image by <a href="https://www.freepik.com/free-vector/gradient-hexagonal-background_13684529.htm#query=white%20tech%20background&position=1&from_view=search&track=ais&uuid=fbc2d6e3-a092-45da-9709-7fe142318d58">Freepik</a>
*/

@font-face {
    font-family: "PoppinsT";
    src: url(../fontes/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fontes/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Permanent Maker";
    src: url(../fontes/PermanentMarker-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #221f1f, #000000);
}

header > h1 {
    font-size: 2.2em;
    margin: 15px;
    font-family: "PoppinsT";
    font-style: italic;
}

header > h1 > a {
    color: #fefae0;
    text-decoration: none;
}

header > h1 > a > img {
    width: 26x;
}

header > nav > ul {
    padding: 15px;
    list-style-type: none;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav > span {
    color: #fefae0;
    padding: 10px 15px;
}

nav > span:hover {
    cursor: pointer;
}

nav > ul > li {
    text-align: start;
}

nav > ul > li:hover {
    text-decoration: underline;
    color: #fefae0;
}

ul#menu {
    display: none;
}

header > nav > ul > li > a {
    font-family: "Poppins";
    color: #fefae0;
    text-decoration: none;
}

article#imagem-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/Fundo-topo-P.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 400px;
}

article#imagem-topo > h2 {
    text-align: center;
    font-family: "Permanent Maker";
    padding: 30px;
    font-weight: lighter;
    color: #fefae0;
    font-size: 2em;
}

main {
    width: 100vw;
    background-color: #fffafa;
}
